{
    "env": {
        "es": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "modules": false,
                        "exclude": ["transform-classes"]
                    }
                ]
            ]
        },
        "cjs": {
            "presets": [
                [
                    "@babel/preset-env"
                ]
            ]
        }
    }
}