@import '~normalize-scss';
@include normalize();

$body-bg: #f5f5f5;
$body-color: #111;

$headings-margin-bottom: 1.25rem;
$hr-margin-y: 2rem;

@import '~bootstrap/scss/bootstrap';

@import './container';
@import './node-marquee';